 
/* styles.css */
.bottom-nav {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background: linear-gradient(90deg, #007BFF, #003399);
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 94%;
  max-width: 800px;
  padding: 4px;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2);
  z-index: 90;
  height: 4rem;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  text-align: center;
  flex: 1;
   padding: 0 8px 0 8px;  
  border-radius: 22px ;
}
.center-circle{ 
    position: absolute;
    display: flex;
    font-size: 1.1rem;
    bottom: 0px; 
    /* width: 8.5rem; */
    width: 33%;
    height: 117%;  
    padding: .5rem;
    /* height: 3.5rem;  */
    top: -.7rem !important;
    border-radius: 10rem 10rem 0 0;
    flex-direction: column;
    justify-content: flex-end;
    line-height: 1.1rem; 
    background:  linear-gradient(360deg, #0055EF 0%, #003491 100%);
}
.center-circle.active{ 
    background:  var(--gradient-secondary);
    color: var(--color-primary);
}
 
.wrapper-bottom-nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-wrapper-bottom-nav ,
.right-wrapper-bottom-nav {
    display: flex;
    flex-direction: row;
    width: 33%;
    font-size: .5em;
}
.left-wrapper-bottom-nav .nav-item  span,
.right-wrapper-bottom-nav .nav-item  span{
    /* font-size: .4em !important; */
    line-height: .8rem;
    font-weight: 400;
  font-family: "Kanit", sans-serif !important;
}
.nav-item img {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}

.nav-item.center {
  flex: 1.5;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
}

.center-text {
  text-align: center;
}

.highlight {
  background:  var(--gradient-secondary);
  padding: 8px 6px;
  /* border-radius: 12px; */
  color: var(--color-primary);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px ;
  height: 75%;
   flex: 1;
  /* width: 100%; */
  margin-top: 7%;
}
.nav-item.highlight img{
  filter: brightness(0) saturate(100%) invert(14%) sepia(35%) saturate(6426%) hue-rotate(213deg) brightness(95%) contrast(105%);
}
.nav-item[aria-valuetext="place"]{
  flex: 3;
}
.highlight[aria-valuetext="profile"]{ 
   flex: 1;
}
.highlight[aria-valuetext="complaint"]{ 
   flex: 4;
}

.highlight img {
  width: 23px;
  height: 23px;
  margin-bottom: 4px;
}

.active{
  background-color: var(--gradient-secondary) !important;
  background-color: var(--color-primary);
}
