 
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 

#root  {
  /* max-width: 1280px; */
  /* margin: 0 auto;
  padding: 2rem;  */
  /* width: 100vw !important ;
  height: 100vh !important; */
  background-color: #FFF;

  -webkit-tap-highlight-color: transparent;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
 

.flex{ display: flex; }
.flex-row{flex-direction: row; }
.justify-center{ justify-content: center; }
.justify-start{ justify-content: flex-start; }
.justify-end{ justify-content: flex-end; }
.items-start{ align-items: flex-start; }
.items-center{ align-items: center; }
.items-end{ align-items: flex-end; }

.modal{
    max-height: 98vh;
    top: 1vh;
    max-width: 98vw ;
    overflow: scroll;
    left: 1vw ;
    top: 0;
    z-index: 9999 !important;
}
 .noselect {
  /* ปิดเลือกข้อความ */
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;

  /* ปิดเมนู copy/paste ตอน long press บน iOS Safari */
  -webkit-touch-callout: none;

  /* ปิดไฮไลต์สีเทา/น้ำเงินตอนแตะบน iOS/Android */
  -webkit-tap-highlight-color: transparent;

  /* ควบคุม gesture: ให้ลากแนวตั้งได้ลื่น ๆ โดยไม่ไปซ้อน gesture อื่น */
  touch-action: pan-y; /* ถ้าสกอลล์แนวตั้ง */
  /* ถ้าเป็นแนวนอน ใช้ pan-x */
}